/node_modules

/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
/public/hot
/public/storage
/public/css
/public/scss/
/public/fonts
/public/.well-known
/public/imagery/
/public/img
/public/js/admin.js
/public/js/book_template.js
/public/js/data.json
/public/js/app.js
/app/http/controllers/AdminController.php
/app/http/controllers/PaymentController.php
/resources
/App/Order.php
/routes/web.php
/tests